<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

  <mat-drawer-container class="flex-auto h-full bg-card dark:bg-transparent" (backdropClick)="onBackdropClicked()">

    <!-- Drawer -->
    <mat-drawer class="w-full md:w-160 dark:bg-gray-900" [mode]="drawerMode" [opened]="false" [position]="'end'"
      [disableClose]="true" #matDrawer>
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col">

      <!-- Main -->
      <div
        class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">
        <div
          class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
          <!-- Loader -->
          <div class="absolute inset-x-0 bottom-0" *ngIf="isLoading">
            <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
          </div>
          <!-- Title -->
          <div class="text-4xl font-extrabold tracking-tight">List de models</div>
          <!-- Actions -->
          <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64" [subscriptSizing]="'dynamic'">
              <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
              <input matInput [formControl]="searchInputControl" [autocomplete]="'off'"
                [placeholder]="'Search demandes'">
            </mat-form-field>
            <!-- Add product button -->
            <button class="ml-4" mat-flat-button [color]="'primary'" (click)="createModel()">
              <!-- <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon> -->
              <span class="ml-2 mr-1">new model</span>
            </button>
          </div>
        </div>
        <div class="flex flex-auto overflow-hidden">
          <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="(models$ | async) as products">
              <ng-container *ngIf="products.length > 0; else noProducts">
                <div class="grid">
                  <div
                    class="inventory-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5"
                    matSort matSortDisableClear>
                    <div class="hidden md:block" [mat-sort-header]="'image'">Image</div>
                    <div [mat-sort-header]="'name'"></div>
                    <div class="hidden md:block" [mat-sort-header]="'nom'">
                      Nom
                    </div>
                    <div [mat-sort-header]="'name'"></div>
                    <div class="hidden sm:block" [mat-sort-header]="'price'">

                    </div>
                    <div class="hidden lg:block" [mat-sort-header]="'stock'">
                      Genre
                    </div>
                    <div class="hidden sm:block">Details</div>
                  </div>
                  <ng-container *ngIf="models$ | async as products; else loading">
                    <ng-container
                      *ngFor="let product of products | paginate: { itemsPerPage: 8, currentPage: pages }; trackBy: trackByFn">
                      <div class="inventory-grid grid items-center gap-4 py-2 px-6 md:px-8 border-b">
                        <div class="flex items-center">
                          <div
                            class="relative flex flex-0 items-center justify-center w-10 h-10 mr-6 rounded overflow-hidden border">
                            <img class="w-8" *ngIf="product?.image" [src]="decodeBase64(product?.image)"
                              [alt]="'Product thumbnail image'">
                            <div
                              class="flex items-center justify-center w-full h-full text-xs font-semibold leading-none text-center uppercase"
                              *ngIf="!product.image">
                              NO IMAGE
                            </div>
                          </div>
                        </div>
                        <div class="truncate"></div>
                        <div class=" hidden md:block truncate">
                          {{product?.nom}}
                        </div>
                        <div class="truncate"></div>
                        <div class="truncate"></div>
                        <div class="hidden lg:flex items-center">
                          <div class="min-w-4 truncate">{{product?.type}}</div>
                        
                        </div>
                        <div>
                          <a class="z-20 " [routerLink]="['./', product.id]">
                            <button class="min-w-10 min-h-7 h-7 px-2 leading-6 " mat-stroked-button>
                              <mat-icon class="icon-size-5"
                                [svgIcon]="selectedModel?.id === product.id ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                          </a>
                        </div>
                      </div>
                      <div class="grid">
                        <ng-container *ngIf="selectedCommande?.id === product.id">
                          <ng-container
                            *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: product}"></ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #noProducts>
              <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no
                Model</div>
            </ng-template>
            <ng-template #loading>
              <div class=" flex loading-spinner m-auto">
                <mat-spinner diameter="100" color="secondary"></mat-spinner>
              </div>
            </ng-template>
          </div>
        </div>
        <pagination-controls (pageChange)="pages = $event"></pagination-controls>
      </div>

    </mat-drawer-content>

  </mat-drawer-container>

</div>