<div class="flex flex-col flex-auto min-w-0 p-6 bg-grey-600">
  <div class="flex-auto items-center my-auto sm:p-10 bg-card shadow-lg  rounded-lg ">
    <!-- <div class="w-full flex flex-col-3 "> -->
    <div class="flex w-full flex-wrap ">
      <div class="grid grid-cols-4 gap-12 p-6  w-full">
        <fuse-card
          class="flex flex-col items-center max-w-80 w-full filter-article shadow-2xl border-t-2 border-grey-500"
          routerLink="/models">
          <div class="img-content rounded-lg p-2">
            <img class="object-cover transition duration-300 transform hover:scale-105"
              src="assets/images/logo/model.svg" alt="Card cover image">
          </div>
          <div class="mt-2 mx-auto">
            <div class="text-2xl font-semibold leading-tight">Models</div>
          </div>
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80  w-full filter-article shadow-2xl border-t-2 border-grey-500"
          routerLink="/clients">
          <div class="img-content rounded-lg p-2">
            <img class="object-cover transition duration-300 transform hover:scale-105"
              src="assets/images/logo/team.svg" alt="Card cover image">
          </div>
          <div class="mt-1 mx-auto">
            <div class="text-2xl font-semibold leading-tight">Client</div>
          </div>
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 w-full filter-article shadow-2xl border-t-2 border-grey-500"
          routerLink="/tayeurs">
          <div class="img-content rounded-lg p-2">
            <img class="object-cover transition duration-300 transform hover:scale-105"
              src="assets/images/logo/team.svg" alt="Card cover image">
          </div>
          <div class="mt-1 mx-auto">
            <div class="text-2xl font-semibold leading-tight"> Tayeur</div>
          </div>
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 w-full filter-article shadow-2xl border-t-2 border-grey-500"
          routerLink="/commandes">
          <div class="img-content rounded-lg p-2">
            <img class="object-cover transition duration-300 transform hover:scale-105"
              src="assets/images/logo/team.svg" alt="Card cover image">
          </div>
          <div class="mt-1 mx-auto">
            <div class="text-2xl font-semibold leading-tight">Commande</div>
          </div>
        </fuse-card>
      </div>
    </div>
    <!-- </div> -->
  </div>
</div>